In [2]:
import pandas as pd
import os, sys

In [14]:
file_path = 'Data/The-Jungle.xlsx'
df_ = pd.read_excel(io=file_path,sheet_name=0,header=2).dropna(subset=['COIN'])
df_.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 0 to 4
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Name                      5 non-null      object
 1   COIN                      5 non-null      object
 2   Amount Invested           5 non-null      float64
 3   Coin Amount               5 non-null      float64
 4   Average Price             5 non-null      float64
 5   Current Price             5 non-null      float64
 6   Profit/Loss               5 non-null      float64
 7   Profit/Loss (%)           5 non-null      float64
 8   Total Unrealized Capital  5 non-null      float64
 9   Allocation                5 non-null      float64
dtypes: float64(8), object(2)
memory usage: 440.0+ bytes

In [17]:
df_

,Name,COIN,Amount Invested,Coin Amount,Average Price,Current Price,Profit/Loss,Profit/Loss (%),Total Unrealized Capital,Allocation
0,PEPE (Tai),BTC,24.000000,8885300.00,0.000003,0.000011,71.952355,2.998015,95.952355,0.153836
1,PEPE (Truong),PEPE,16.000000,5923533.00,0.000003,0.000011,47.968233,2.998015,63.968233,0.102558
2,PEPE (Loc),JUP,16.000000,5923533.00,0.000003,0.000011,47.968233,2.998015,63.968233,0.102558
3,PEPE (Danh),PEPE,50.009859,4751982.00,0.000011,0.000011,1.306795,0.026131,51.316654,0.320556
4,WLD (Danh),WLD,50.000000,24.92,2.006421,1.945000,-1.530600,-0.030612,48.469400,0.320493

In [16]:
df_['COIN'].unique().tolist()

['BTC', 'PEPE', 'JUP', 'WLD']